PORT=8080
MONGO_URI=mongodb://localhost:27017/book_store_dev
BOOK_SEED_API=https://www.googleapis.com/books/v1/volumes?q=quilting&maxResults=40
SECRETTOKEN=development
REDIS_PORT=6379
REDIS_HOST='127.0.0.1'