
.alert {
	display: none;  
}

.button_loading {
    background: #0392ff url('http://vidmy.com/img/ajax-loader.gif') no-repeat 50% 50%;
    /* apply other styles to "loading" buttons */
    cursor: default;
}

.button_loading {
    display: none;   
}

